@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Dynamic menu from Database</h2>

@* add html code for create and show menu *@

<div ng-app="DynamicMenuApp">
    <div ng-controller="menuController">
        @* first of all i will go to write template of angularjs *@
        <script type="text/ng-template" id="dynamicMenu">
            <a href="{{menu.Url}}">{{menu.Name}}</a>
            @* I will go to create submenu only when available *@
            <ul ng-if="(SiteMenu | filter:{ParentID:menu.Id}).length>0">
                <li ng-repeat="menu in SiteMenu | filter:{ParentID:menu.Id}: true" ng-include="'dynamicMenu'"></li>
            </ul>
        </script>

        <ul class="main-navigation">
            <li ng-repeat="menu in SiteMenu | filter:{ParentID:0}: true" ng-include="'dynamicMenu'"></li>
        </ul>

    </div>
</div>
@* Add css here for nav menu *@
<link href="~/css/Menu.css" rel="stylesheet" />

@* add js here for angular app *@
@section Scripts{
    <script src="~/Scripts/App.js"></script>
    <script src="~/Scripts/Controller.js"></script>
}